.sidemodal {
  border: 1px solid #fff;
  box-shadow: 0 3px 10px #888;
  min-height: 100vh;
  min-width: 30%;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 0;
  /* left: 50; */
  right: 0;
}
.side {
  width: 90%;
  margin: 10px auto;
}
.directions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: silver;
}
.navigation > button,
.cancel > button {
  color: silver;
  padding: 4px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid silver;
}
.navigation > span,
.cancel > span {
  margin-left: 5px;
}
.street .street-name h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 7px;
}
.street .street-name h3 span {
  background-color: #c0edc0;
  font-size: 0.5rem;
  margin-left: 20px;
  padding: 6px 6px 6px 17px;
  border-radius: 17px;
  color: green;
}
.street .street-name p {
  color: silver;
  font-size: 0.6rem;
  font-weight: 500;
  margin-bottom: 15px;
}

hr {
  opacity: 0.2;
  margin-bottom: 15px;
}
.profile {
  display: flex;
  align-items: center;
  height: 100%;
}
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile .profile-info h2 {
  font-weight: 500;
}
.profile .profile-info p {
  color: silver;
}
.time {
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0px;
}
.checks {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.checks h1,
.guest h1 {
  color: #898585;
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 3px;
}
.checks h1.arrow {
  font-size: 2rem;
}

.checks p,
.guest p {
  font-size: 0.9rem;
  color: #000;
  font-weight: 600;
}

.bookings {
  width: 100%;
  border: 1px solid silver;
  background: #f5f5f5;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  /* padding: 15px 0px; */
  border-radius: 20px;
  color: #483b3b;
}
.bookings .codes {
  width: 100%;
}
.bookings .first {
  color: #000;
  background-color: #fff;
  width: 100%;

  height: 100%;
  text-align: center;
  padding: 15px 0;
  border-radius: 20px;
}
.bookings .rest {
  padding: 15px 0;
  margin-left: 15px;
}

.access-codes {
  display: flex;
  height: 15px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.access-codes h1 {
  color: silver;
  font-size: 0.7rem;
}
.access-codes .code span {
  font-size: 0.7rem;
  /* margin-left: 15px; */
  border-radius: 15px;
}
.access-codes > .first > span {
  background-color: #e1e1f7;
  padding: 10px 15px;
  color: blue;
  margin-left: 15px;
}
.access-codes > .second > span {
  background-color: #f2e7e9;
  padding: 10px 15px;
  color: #f56b82;
  margin-left: 15px;
}
.access-codes > .third > span {
  background-color: #fff;
  padding: 10px 13px;
  color: black;
  border: 1px solid rgb(184, 184, 184);
  margin-left: 16px;
}
