@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
}
